body {
  display: flex;
  flex-direction: column;
  background-color: gold;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /*! align-items: stretch; */
  /*! height: 100vh; */
  justify-content: stretch;
}
header {
    display: flex;
  background-color: #373737;
  align-items: center;
  padding: 8px;
  justify-content: space-around;
  color: whitesmoke;
    /*! flex: 1 1 auto; */
    flex-wrap: wrap;
}
.header-links > ul{
  display: flex;
  gap: 12px;
}
.header-links> ul >li{
  list-style-type: none;
}
.header-links > ul > li > a:link{
  text-decoration: none;
  color: whitesmoke;
}
.logo {
  font-size: 32px;
  font-weight: 900;
}
.main-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  height: 98vw;
  width: ;
}


.section-1 {
  background-color: #373737;
  display:flex;
    flex: 1 1 0;
  justify-content: center;
  align-content: center;
  padding-top: 32px;
  padding-bottom: 48px;
  flex-wrap: wrap;
  gap: 8px;
 
}
.image-description,
.image-container {
  max-width: 500px;
  max-height: 500px;
  flex: 1;
  color: whitesmoke;
  text-align: center;
}
.section-1 > .image-container >img{
  max-width: 290px;
  height: auto;
  /*! margin-left: 40px; */
  /*! min-width: 400px; */
  /*! flex: 1; */
}
.image-description >a>button{
  background-color: #21B6A8;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  color: white;
  border: 0;
  text-align: center;
  max-width: 150px;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
}
.image-description>a>button:hover{
  background-color: #A3EBB1;
}

.section-2 {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  align-items: center;
  background-color: #FCE694;
  padding: 16px;
  gap: 8px;
  flex-wrap: wrap;
}
.cards{
  display: flex;
  gap: 16px;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  text-align: center;
font-style:italic;
}
.card > img{
height: 250px;
  border: 3px solid #373737;
  border-radius: 30px;
}
.section-3 {
  flex:1 1 0;
  
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 100px;
  justify-content: center;
  /*! background-color: #FCE694; */
}

.quote {
  font-size: 50px;
  font-style: italic;
}
.credit {
  align-self: flex-end;
  font-weight: bold;
  font-size: 30px;
}
.quotes {
  display: flex;
  flex-direction: column;
}
.section4 {
  flex: 1 1 0;
  min-height: 405px;
  display: flex;
  flex-direction: column;
  background-color: #373737;
  justify-content: center;
  align-items: center;
}
.call-to-action {
  background-color: #C7DFC5;
  display: flex;
  justify-content: space-evenly;
  width: 60vw;
  margin: auto;
  padding: 8px;
  border-radius: 12px;
  align-items: center;
}


button {
  background-color: #21B6A8;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  color: white;
  border: 0;
  text-align: center;
  max-width: 150px;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
  flex: 0 0 auto;
  /*! max-height: 100px; */
}
footer {
}
.footer {
  background-color: gray;
  text-align: center;
  padding: 16px;
}